{
    margin:1;
    padding:2;
    box-sizing:border-box;
}
body{
    font-family: Arial, sans-serif;
    background:#f7f4ed;
    color:#242424;
}

header{
    border-bottom:1px solid #000;
}

nav{
    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px;
}

.logo{
    font-size:50px;
    font-weight:bold;
    font-family:Georgia, serif;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:30px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#000;
    font-size:15px;
}

.nav-btn{
    background:#000;
    color:#fff;

    border:none;

    padding:12px 22px;

    border-radius:30px;

    cursor:pointer;
}


.hero{
    min-height:75vh;

    border-bottom:1px solid #000;

    display:flex;
    align-items:center;
}

.hero-content{
    max-width:1200px;

    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:50px;

    padding:50px 20px;
}

.hero-left{
    flex:1;
}

.hero-left h1{
    font-size:110px;
    line-height:0.9;
    font-family:Georgia, serif;
    font-weight:400;
}

.hero-left p{
    margin-top:30px;
    font-size:28px;
}

.hero-btn{
    margin-top:40px;

    background:#000;
    color:#fff;

    border:none;

    padding:15px 40px;

    border-radius:30px;

    font-size:20px;

    cursor:pointer;
}

.hero-right{
    flex:1;
}

.hero-right img{
    width:100%;
    border-radius:10px;
}



footer{
    max-width:1200px;

    margin:auto;

    padding:20px;

    display:flex;
    justify-content:center;
    gap:20px;

    flex-wrap:wrap;
}

footer a{
    text-decoration:none;
    color:#6b6b6b;
    font-size:14px;
}

@media (max-width: 768px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .hero-content{
        flex-direction:column;
        text-align:center;
    }

    .hero-left h1{
        font-size:60px;
    }

    .hero-left p{
        font-size:20px;
    }

    .hero-right{
        width:100%;
    }
}